# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Training Outputs
# ==========================================

outputs/

# ==========================================
# Python Environment
# ==========================================

.python-version

# ==========================================
# Checkpoints
# ==========================================

checkpoints/*.pth

# Keep Vocabulary
!checkpoints/vocab.json